html, body {
  height: 100%;
  width: 100%;
}

#replit-badge,
#replit-badge:before,
#replit-badge:after {
	background: none;
	border: none;
}

html, body {
	font-size: 70%;
}

body {
	height: fit-content;
	margin: 40px auto 0;
	max-width: 700px;
	padding: 20px;
}

@media (max-width: 1300px) {
	body {
		margin-top: -50px;
	}
}

.container {
	margin: initial;
	max-width: initial;
	padding: initial;
}

p a,
p a:before,
p a:after {
	background: none;
	border: none;
	padding: 0;
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-decoration-color: var(--primary-2);
	transition: text-decoration-color 0.1s ease;
}

p a:hover,
p a:hover:before,
p a:hover:after {
	background: none;
	border: none;
	text-decoration-color: var(--accent-2);
}

blockquote p {
	margin: 2.5px 0;
}

footer a:before {
	transform-origin: 0 11px;
}

:target {
	padding-left: 5px;
	background-color: var(--background-1);
}

ul input ~ li:before {
	list-style-type: none;
}

ul input[type='checkbox'] {
	font: inherit;
	display: inline-grid;
	width: 20px;
	height: 20px;
	margin: 0;
	margin-right: 10px;
	color: var(--background-3);
	border: 2px solid var(--primary-2);
	background: var(--background-3);
	appearance: none;
	place-content: center;
	cursor: pointer;
}

ul input[type='checkbox'] {
	border-radius: 25%;
}

ul input[type='checkbox']:before {
	width: 12px;
	height: 12px;
	content: '';
	transition: 120ms transform ease-in-out;
	transform: scale(0);
	box-shadow: inset 10px 10px var(--accent-2);
	cursor: pointer;
}

ul input[type='checkbox']:before {
	border-radius: 25%;
	transform-origin: bottom left;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

ul input[type='checkbox']:checked:before {
	transform: scale(1);
}

ul input[type='checkbox']:disabled {
	border-color: var(--background-1);
	background-color: var(--background-3);
}

ul input[type='checkbox']:disabled + label {
	color: var(--primary-3);
	cursor: not-allowed;
}

@media (--breakpoint-mobile) {
	ul input[type='checkbox'] {
		width: 15px;
		height: 15px;
		transform: translateY(3px);
	}

	ul input[type='checkbox']:before {
		width: 10px;
		height: 10px;
	}
}